<h2 align="center"><%= "Category: " + @category.name %> </h2>
<div align="center">
  <% if logged_in? and current_user.admin? %>
  <div class="row">
    <span class="badge"><%= link_to "Edit Category Name", edit_category_path(@category) %> </span>
  </div>
  <% end %>
</div>
<%= render'articles/articles', obj:@category_articles %>